{% extends "base.html" %}
{% block head %}    
	<meta charset="UTF-8">
<!--    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<link href="{{ url_for('static', path='/chat.css') }}" rel="stylesheet">

	<link rel="stylesheet" href="../static/chat.css" />
{% endblock %}
{% block content %}

<style>
	
body{
	background-image: url("{{ url_for('static', path='images/chat.jpg') }}");
	background-size: cover;
    font: 400 normal 14px/18px system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}
h1, h2, h3, h4, h5, h6 {
    font-size: 1.1rem;
	margin: 5px 0;

	word-wrap: break-word;
	font-weight: 500;
}
button {
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 120%;
    font-weight: bold;
    line-height: initial;
	margin-left: 10px;
	background-color: #fff;
}
</style>

<div class="parent_0">
	
	<div class="container_0" id="conteiner_0"></div>
	
	
	<div style="width: 100%;" id="parent_container">
			<div id="container"></div>	

	</div>
</div>




<script>


let client_id={{ userdata.id }};
var user_id_recipient = 1;
var matchArray = [];
let first_click = 0;

function get_approved_matches(){
	axios.get('/chat/approved_matches/'+client_id, {
	  headers: { 'Accept': 'application/json' }
	})
	.then(messages => {
//		console.log(messages.data);
		matchArray = messages.data;
		
		for (let i = 0; i < matchArray.length; i++) {
			// Create the parent div
			j=matchArray[i]
//			console.log(j)
			let parentDiv = document.createElement('div');
			parentDiv.setAttribute('class', 'parent_1');
			parentDiv.setAttribute('onClick', 'selet_id(this, ' + j.id + ')');

			// Create the image element
			let img = document.createElement('img');
			let imagePath = j.id + '_1.jpg';
			img.setAttribute('src', '{{ url_for('static', path='photos/') }}' + imagePath);
			img.setAttribute('width', '30%');
			img.setAttribute('style', 'border-radius: 10px;');


			let parentDiv2 = document.createElement('div');
			parentDiv2.setAttribute('class', 'parent_2');
			let parentDiv3 = document.createElement('div');
			parentDiv3.setAttribute('class', 'parent_3');


			let h2Name = document.createElement('h3');
			h2Name.textContent = j.username+",";
			let h2Age = document.createElement('h3');
			h2Age.textContent = j.your_age;

			// Create the paragraph element with a unique ID
			let p = document.createElement('p');
	//		p.setAttribute('id', 'id_' + j);
			p.textContent = 'ID: '+j.id;

			
			
			// Append elements to their respective parent elements
			parentDiv3.appendChild(h2Name);
			parentDiv3.appendChild(h2Age);
			parentDiv2.appendChild(parentDiv3);
			parentDiv2.appendChild(p);
			parentDiv.appendChild(img);
			parentDiv.appendChild(parentDiv2);
			let container = document.getElementById('conteiner_0');
			container.appendChild(parentDiv);
		}
	})
	.catch(error => {console.error(error);});
	
	

}
get_approved_matches()
	
	

	
function selet_id(clickedElement, id){
	const allElements = document.querySelectorAll('.parent_0 .clicked');
		allElements.forEach(element => {
		element.classList.remove('clicked');});
	clickedElement.classList.add('clicked');
	
	clearContainer();
	user_id_recipient = id;
	console.log('Selected ID: ', user_id_recipient);

	axios.get('/chat/last_messages/'+client_id+'/'+user_id_recipient, {
	  headers: { 'Accept': 'application/json' }
	})
	.then(messages => {
		console.log(messages.data);
		messages.data.forEach(msg => {
			createElements(msg.id_sender, msg.id_recipient, msg.message, msg.send_at)
		})

//================================================
//		Create message div
		if (first_click == 0) {
		var parentContainer = document.getElementById('parent_container');
		var messageContainer = document.createElement('div');
		messageContainer.className = 'message_container';
		var paragraphElement = document.createElement('p');
		paragraphElement.textContent = 'Message: ';
		var textareaElement = document.createElement('textarea');
		textareaElement.id = 'messageText';
		var sendButton = document.createElement('button');
		sendButton.textContent = 'Send';
		sendButton.setAttribute('onClick', 'sendMessage(event)');

		messageContainer.appendChild(paragraphElement);
		messageContainer.appendChild(textareaElement);
		messageContainer.appendChild(sendButton);
		parentContainer.appendChild(messageContainer);
		first_click++;}
//================================================
	})
	.catch(error => {console.error(error);});
}

	
function createElements(sender, recipient, msg, date) {
	var container = document.getElementById('container');
	var messageDiv = document.createElement('div');
	var dateBlock = document.createElement('div');
	dateBlock.textContent = date;

	var p = document.createElement('p');
	if (sender==client_id) {
		p.innerHTML = msg;
		p.classList.add('odd');
		dateBlock.classList.add('dateBlock_odd');
	} else {
		p.textContent = msg;
		p.classList.add('even');
		dateBlock.classList.add('dateBlock_even');
	}
	messageDiv.appendChild(p);
	messageDiv.appendChild(dateBlock);
	container.appendChild(messageDiv);
}

function clearContainer() {
	var container = document.getElementById('container');
	container.innerHTML = ''; // Устанавливаем пустую строку в качестве содержимого
}

	
	
// WebSocket
let ws = new WebSocket(`wss://friends-corner-5chi.onrender.com:8000/chat/ws/${client_id}`);
ws.onopen = function(event) {
    console.log('WebSocket connection opened:', event);
};
ws.onerror = function(event) {
    console.error('WebSocket error:', event);
};

ws.onmessage = function (event) {

	data = JSON.parse(event.data.replace(/'/g, '"'));
	let currentDate = new Date();
	createElements(data.id_sender, data.id_recipient, data.message, currentDate.toLocaleString())
};

function sendMessage(event) {
	let message = document.getElementById("messageText");

	ws.send(`${user_id_recipient}%%@%%${message.value}`);

	message.value = '';
	event.preventDefault();
}


function handleClick(clickedElement, id) {
  const allElements = document.querySelectorAll('.clickable-div');
  allElements.forEach(element => {
    element.classList.remove('clicked');
  });

  // Добавляем класс "clicked" только к нажатому элементу
  clickedElement.classList.add('clicked');
}

</script>
{% endblock %}



