{% extends "base.html" %}
{% block head %}    
	<meta charset="UTF-8">
<!--    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!--    <script type="text/javascript" src="{{ url_for('static', path='test.js') }}"></script>-->
{% endblock %}
{% block content %}

<style>
	
body{
	background-image: url("{{ url_for('static', path='images/87.jpg') }}");
	background-size: cover;
/*	background-color: #f7ffff;*/
    font: 400 normal 14px/18px system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}
.parent_0 {
	display: flex;
	flex-direction: row;
	text-align: left;
	
	
/*
	background-color: white;
	border-radius: 7px;
	width: 120%;
	margin-left: -10%;
	margin-bottom: 70%;
	-webkit-box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.57);
	box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.57);
	padding: 2% 10%;
*/
}
.parent_1 {
	display: flex;
	flex-direction: row;
	text-align: left;
	align-items: center;
	
	cursor: pointer;
	margin: 5px 0px;
	border: 4px solid #8AAAFF;
	border-radius: 15px 15px 15px 15px;
	min-width: 100px;
	
	overflow: hidden;
	text-overflow: ellipsis;
	
}
.parent_2 {
	display: flex;
	flex-direction: column;
	text-align: left;
	width: 90%;
	margin-right: 5%;
	padding: 5px;
}
.parent_3 {
	display: flex;
	flex-direction: row;
	text-align: left;
}
.label_1 {
	font-size: 30px;
	font-weight: bold;
	font-style: normal;
	margin: 6% 0 2% 0;
}		
.label_2 {
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
	margin: 2% 0 1% 0;
}
h2 {
  margin:4px;
/*  font-size: 80%;*/
  font-weight: 500;
  line-height: 1;
}
p {
	margin:4px; 
	color: grey;
	word-wrap: break-word;
	transition:  5s ease;
}

.container_0 {
	display: flex;
	flex-direction: column;
	width: 20%;
	margin-left: 10%;
/*	margin-top: 30px;*/
	
	height: 80vh;
	min-height: 600px;
}
.clicked {
	
	background-color: #9DB7FF;
	border: 4px solid #4477FF;
	transition:  0.5s ease;
	height: 30%;
/*  color: white;*/
}

#messageText {
	width: 30%;
	border: 2px solid #4477FF;
	border-radius: 10px;
	min-height: 30px;
	max-height: 60px; 
	resize: vertical;
}
button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 6vw;
  border-radius: 10px;
  background: #fff;
  border: 2px solid #4477FF;
  color: #4477FF;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
  margin-left: 1%;
}
button:hover {
  color: white;
  background: #4477FF;
}
button:active {
  letter-spacing: 2px;
}



</style>

<div class="parent_0">
	
	<div class="container_0" id="conteiner_0"></div>
	
	
	<div style="width: 100%;">
			<div id="container"></div>	

			<div style="
			margin-top: 1%;
			margin-bottom: 5%;
			display: flex;
			justify-content: center;">
				<p>Message:  </p>
				<textarea id="messageText"></textarea>
				<button onClick="sendMessage(event)">Send</button>
			</div>
	</div>
</div>
	
	
	
    <style>
        .even {
            position: relative;
            background-color: #e7e6ec;
			color: black;
			
            max-width: 40%;
            padding: 10px;
			border-radius: 20px;
			width: fit-content;
			margin-top: 1%;
			margin-left: 1%;
			margin-right: auto;
			margin-bottom: 0%;
        }
        .odd {
            position: relative;
            background-color: #1B74FF;
			color: #F5F4FF;
/*            border: 2px solid red;*/
			border-radius: 20px;
			
            max-width: 40%;
            padding: 10px; 
			width: fit-content;
			margin-top: 1%;
			margin-left: auto;
			margin-right: 1%;
			margin-bottom: 0%;

        }

        #container {
			width: 80%;
			margin-left: 10%;
            position: relative;
            border: 2px solid black; 
			border-radius: 20px;
			overflow: auto;
/*			overflow-y: scroll;*/
			
			height: 80vh;
        }
		#container::-webkit-scrollbar {
		  width: 12px; /* Ширина полосы прокрутки */
		}

		 #container::-webkit-scrollbar-thumb {
		  background-color: #808080; /* Цвет бегунка */
		  border-radius: 6px; /* Скругление углов бегунка */
		}
		
		.dateBlock_even{
            position: relative;
            bottom: 0;
            font-size: 0.8em;
            color: #888;
			margin-left: 1%;
			margin-right: auto;
        }		
		.dateBlock_odd{
            position: relative;
            bottom: 0;
            font-size: 0.8em;
            color: #888;
			margin-left: auto;
			margin-right: 1%;
			text-align: right;
        }
    </style>




<!--
<div class="flex flex-col items-center">
    <h1>WebSocket Chat</h1>
    <h2>Your ID: <span id="ws-id">{{ userdata.id }}</span></h2>
    <form action="" onsubmit="sendMessage(event)">
        <p>Message: </p><input class="bg-green-300" type="text" id="messageText" autocomplete="off"/>
        <button>Send</button>
    </form>
    <ul id='messages'>
</ul>
</div>
-->

<script>

	


	

	
	
	
	
	
	
	
	
	
	
let client_id={{ userdata.id }};
var user_id_recipient = 1;
var matchArray = [];
	
function get_approved_matches(){
	axios.get('/chat/approved_matches/'+client_id, {
	  headers: { 'Accept': 'application/json' }
	})
	.then(messages => {
//		console.log(messages.data);
		matchArray = messages.data;
		
		for (let i = 0; i < matchArray.length; i++) {
			// Create the parent div
			j=matchArray[i]
//			console.log(j)
			let parentDiv = document.createElement('div');
			parentDiv.setAttribute('class', 'parent_1');
			parentDiv.setAttribute('onClick', 'selet_id(this, ' + j.id + ')');

			// Create the image element
			let img = document.createElement('img');
			let imagePath = j.id + '_1.jpg';
			img.setAttribute('src', '{{ url_for('static', path='photos/') }}' + imagePath);
			img.setAttribute('width', '30%');
			img.setAttribute('style', 'border-radius: 10px;');


			let parentDiv2 = document.createElement('div');
			parentDiv2.setAttribute('class', 'parent_2');
			let parentDiv3 = document.createElement('div');
			parentDiv3.setAttribute('class', 'parent_3');


			let h2Name = document.createElement('h2');
			h2Name.textContent = j.username+',';
			let h2Age = document.createElement('h2');
			h2Age.textContent = j.your_age;

			// Create the paragraph element with a unique ID
			let p = document.createElement('p');
	//		p.setAttribute('id', 'id_' + j);
			p.textContent = 'ID: '+j.id;

			
			
			// Append elements to their respective parent elements
			parentDiv3.appendChild(h2Name);
			parentDiv3.appendChild(h2Age);
			parentDiv2.appendChild(parentDiv3);
			parentDiv2.appendChild(p);
			parentDiv.appendChild(img);
			parentDiv.appendChild(parentDiv2);
			let container = document.getElementById('conteiner_0');
			container.appendChild(parentDiv);
		}
	})
	.catch(error => {console.error(error);});
	
	

}
get_approved_matches()
	
	

	
function selet_id(clickedElement, id){
	const allElements = document.querySelectorAll('.parent_0 .clicked');
		allElements.forEach(element => {
		element.classList.remove('clicked');});
	clickedElement.classList.add('clicked');
	
	clearContainer();
	user_id_recipient = id;
	console.log('Selected ID: ', user_id_recipient);

	axios.get('/chat/last_messages/'+client_id+'/'+user_id_recipient, {
	  headers: { 'Accept': 'application/json' }
	})
	.then(messages => {
		console.log(messages.data);
		messages.data.forEach(msg => {
			createElements(msg.id_sender, msg.id_recipient, msg.message, msg.send_at)
		})
	})
	.catch(error => {console.error(error);});
}

	
function createElements(sender, recipient, msg, date) {
	var container = document.getElementById('container');
	var messageDiv = document.createElement('div');
	var dateBlock = document.createElement('div');
	dateBlock.textContent = date;

	var p = document.createElement('p');
	if (sender==client_id) {
		p.innerHTML = msg;
		p.classList.add('odd');
		dateBlock.classList.add('dateBlock_odd');
	} else {
		p.textContent = msg;
		p.classList.add('even');
		dateBlock.classList.add('dateBlock_even');
	}
	messageDiv.appendChild(p);
	messageDiv.appendChild(dateBlock);
	container.appendChild(messageDiv);
}

function clearContainer() {
	var container = document.getElementById('container');
	container.innerHTML = ''; // Устанавливаем пустую строку в качестве содержимого
}

	
	
// WebSocket
let ws = new WebSocket(`ws://localhost:8000/chat/ws/${client_id}`);
ws.onmessage = function (event) {

	data = JSON.parse(event.data.replace(/'/g, '"'));
	let currentDate = new Date();
	createElements(data.id_sender, data.id_recipient, data.message, currentDate.toLocaleString())
};

function sendMessage(event) {
	let message = document.getElementById("messageText");

	ws.send(`${user_id_recipient}%%@%%${message.value}`);

	message.value = '';
	event.preventDefault();
}


function handleClick(clickedElement, id) {
  const allElements = document.querySelectorAll('.clickable-div');
  allElements.forEach(element => {
    element.classList.remove('clicked');
  });

  // Добавляем класс "clicked" только к нажатому элементу
  clickedElement.classList.add('clicked');
}

</script>
{% endblock %}



