<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', path='login.js') }}"></script>
	<link href="{{ url_for('static', path='/login.css') }}" rel="stylesheet">
	
	<link rel="stylesheet" href="../static/login.css" />
    <title>Friends Corner</title>
</head>
<body>
	
	
<form class="login">
  <input type="email" placeholder="Email" id="email">
  <input type="password" placeholder="Password"  id="password">
	
	<button onclick="login()">Login</button>
<!--	<button onclick="logout()">Sign out</button>-->
</form>

<style>
	body {background-image: url("{{ url_for('static', path='images/login2.jpg') }}");
	background-size: cover;}
</style>
</body>
</html>		