{% extends "base.html" %}
{% block head %}    
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!--    <script type="text/javascript" src="{{ url_for('static', path='test.js') }}"></script>-->
	<link href="{{ url_for('static', path='/match.css') }}" rel="stylesheet">
	
	<link rel="stylesheet" href="../static/match.css" />
{% endblock %}

{% block content %}

<body>
	<style>
body{
	background-image: url("{{ url_for('static', path='images/login2.jpg') }}");
	background-size: cover;
}

</style>


<div class="parrent_0"> 


	<div id="container">

		<div style="height: 100%; width: 100%; position: absolute; display:flex; justify-content: space-between;">
			<div class="buttonarrow" onclick="select_image(1)">❮</div>
			<div class="buttonarrow2" onclick="select_image(2)">❯</div>
		</div>

		<div id="buttonsContainer">
			<div id="likeButton" class="button" onclick="send_answer_match(1)">👍</div>
			<div id="dislikeButton" class="button" onclick="send_answer_match(2)">👎</div>
		</div>
	</div>

	<div id="userInfo">
		<label class="label_1">About Me</label>
		<p id="name" class="label_2">Name</p>

		<p id="region"></p>
		<p id="hobbies"></p>
		<p id="info"></p>
	</div>	

</div>
	

	 
	
	
	



<script>
	
	var client_id={{ userdata.id }};
	var friend_id = 1;
	
	var request = 0;
	let matchArray = [];
	
	
	function get_new_match(){
//		clearContainer()
//		user_id_recipient = id;
//		console.log('Selected ID: ', user_id_recipient);
		axios.get('/chat/match/'+client_id, {
		  headers: { 'Accept': 'application/json' }
		})
		.then(messages => {
			console.log(messages.data);
			matchArray = messages.data;
			
			if (matchArray.length > 0) {update_info(0);}
			else {no_anymore();}
			
		})
		.catch(error => {console.error(error);});
	}
	get_new_match();


	
function send_answer_match(answer_) {
	try {
		axios.post('/chat/match/',
		{
			id_sender: client_id,
			id_recipient: friend_id,
			answer: answer_,
		}, {headers: { 'Accept': 'application/json' }})
		.then(res => {

			if (request<4){
		//		
				if (request+2 > matchArray.length  && matchArray.length < 5){no_anymore();return;}
				
				request++;
				update_info(request);
			}
			else {
				get_new_match();
				console.log('get_new_match start')
				request=0;
			}
			
			
		})
		.catch(err => {console.log(err);});
	}
	catch (error) {console.error(error);}	
//	alert('Button clicked: ' + answer_);
//	alert('New user:');
}

	
// Обновляет информацию о человеке в правом контейнере
function update_info(id_){
	try {
	friend_id = matchArray[id_].id;
	document.getElementById('name').textContent = matchArray[id_].username+', '+matchArray[id_].your_age + ', '+matchArray[id_].gender;
//	document.getElementById('age').textContent = matchArray[id_].your_age;
//	document.getElementById('id').textContent = matchArray[id_].id;
//	document.getElementById('id').textContent = '';
//	document.getElementById('region').textContent = "I'm from: " + matchArray[id_].regions.charAt(0).toUpperCase() + matchArray[id_].regions.slice(1);
	document.getElementById('region').textContent = "I'm from: " + matchArray[id_].regions;
	document.getElementById('hobbies').textContent = "My hobbies: " + matchArray[id_].hobbies.split('&').join(', ');
	document.getElementById('info').textContent = "More about me: " + matchArray[id_].about_you;

	let imagePath = matchArray[id_].id + '_1.jpg';
	document.getElementById('container').style.backgroundImage = 'url("{{ url_for('static', path='photos/') }}' + imagePath + '")';
	}
	catch (error) {console.error(error);}
}
	

// Срабатывает, когда нет больше подходящих кандидатов
function no_anymore(){
	document.getElementById('name').textContent = 'Sorry, there are no suitable candidates yet.';
//	document.getElementById('age').textContent = '';
//	document.getElementById('id').textContent = '';
	document.getElementById('info').textContent = '';
	document.getElementById('hobbies').textContent = '';
	
	document.getElementById('region').textContent = '';

	let imagePath = 'nobody.jpg';
	document.getElementById('container').style.backgroundImage = 'url("{{ url_for('static', path='images/') }}' + imagePath + '")';
}
	
	
// Переключает фотографии человека
let image_number=1;
function select_image() {
	document.getElementById('container').style.backgroundImage = 'url("{{ url_for('static', path='photos/') }}' + matchArray[request].id + '_'+image_number+'.jpg' + '")';
	image_number = (image_number === 1) ? 2 : 1;
}


</script>

{% endblock %}