{% extends "base.html" %}
{% block head %}    
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<link href="{{ url_for('static', path='/me.css') }}" rel="stylesheet">
	
	<link rel="stylesheet" href="../static/me.css" />
{% endblock %}

{% block content %}
<div class="parrent_0">
	
	<img  src="{{ url_for('static', path='photos/' ~ userdata.id ~ '_1.jpg') }}" alt="Your photo" class="mr-5">
	
	<div id="userInfo">
		<label class="label_1">About You</label>
		<p id="name" class="label_2">{{ userdata.username }}, {{ userdata.age }}, {{ userdata.gender }}</p> 

		<p id="region">I'm from: {{ userdata.regions }}</p>
		<p id="hobbies">{{ userdata.hobbies }}</p>

		<p id="info">More about me: {{ userdata.about_you }}</p>
		<p id="email">Your id: {{ userdata.id }}, email: {{ userdata.email }}, phone: {{ userdata.phone_number }}</p>
	</div>
	
	<img  src="{{ url_for('static', path='photos/' ~ userdata.id ~ '_2.jpg') }}" alt="Your photo" class="mr-5">
</div>


<script>
	document.getElementById('hobbies').textContent = 'My hobbies: '+ document.getElementById('hobbies').textContent.split('&').join(', ')
</script>

<style>
	body { 
		background-image: url("{{ url_for('static', path='images/blue1.jpg') }}");
		background-size: cover;
		padding-top: 100px;
	}
</style>

{% endblock %}