<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', path='new_user.js') }}"></script>
	<link href="{{ url_for('static', path='/new_user.css') }}" rel="stylesheet">
	

	 
	<link rel="stylesheet" href="../static/new_user.css" />
    <title>Friends Corner</title>
</head>
<body>
	
	


<!--
    <div>
        <p id="demo1"> Ничегоо </p>
    </div>
-->
<!--	<form  onsubmit="submitForm();" id="myForm">-->

	

	<div class="parent_0" >
<!--		-->
		<label class="label_1">About You</label>
<!--		--> 
		<div class="parent_2">
			<div class="parent_1">
				
				<label class="label_2">First Name *</label>
				
				<input type="text" id="username" value="nameudalit" placeholder="Enter your first name" pattern="[A-Za-zÅÄÖåäö\s\-']+" required>
				
			</div>			
			
			<div class="parent_1">
				
				<label class="label_2">Phone Number</label>
				
				<input type="text" id="phonenumber" value="+358123456789"
				placeholder="Enter your phone number" pattern="[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}">
			</div>
		</div>
<!--		-->
		<div class="parent_2">
			<div class="parent_1">
					<label class="label_2">Gender *</label>
				
				<div>
					<input type="radio" id="gender_you1" name="gender_you" value="boy" checked/>
					<label for="gender_you1">Boy</label>
					<input type="radio" id="gender_you2" name="gender_you" value="girl" />
					<label for="gender_you2">Girl</label>
					<input type="radio" id="gender_you3" name="gender_you" value="other" />
					<label for="gender_you3">Other</label>
				</div>
				
			</div>
		</div>
<!--		-->
		<div class="parent_2">
			<div class="parent_1">
				
				<label class="label_2">Region *</label>
				
				<select id="regions" name="regions">
					<option value="ahvenanmaa">Ahvenanmaa</option>
					<option value="etela-karjala">Etelä-Karjala</option>
					<option value="etela-pohjanmaa">Etelä-Pohjanmaa</option>
					<option value="etela-savo">Etelä-Savo</option>
					<option value="kainuu">Kainuu</option>
					<option value="kanta-hame">Kanta-Häme</option>
					<option value="keski-pohjanmaa">Keski-Pohjanmaa</option>
					<option value="keski-suomi">Keski-Suomi</option>
					<option value="kymenlaakso">Kymenlaakso</option>
					<option value="lappi">Lappi</option>
					<option value="paijat-hame">Päijät-Häme</option>
					<option value="pirkanmaa">Pirkanmaa</option>
					<option value="pohjanmaa">Pohjanmaa</option>
					<option value="pohjois-karjala">Pohjois-Karjala</option>
					<option value="pohjois-pohjanmaa">Pohjois-Pohjanmaa</option>
					<option value="pohjois-savo">Pohjois-Savo</option>
					<option value="satakunta">Satakunta</option>
					<option value="uusimaa">Uusimaa</option>
					<option value="varsinais-suomi">Varsinais-Suomi</option>
				</select>
				
			</div>			
			
			<div class="parent_1">
				
				<label class="label_2">Age *</label>
				
				<input type="number" id="your_age" name="your_age" value="18" min="10" max="99" required>
			</div>
		</div>
<!--		-->
		<div class="parent_2">
			<div class="parent_1" style="width:120%;">
					<label class="label_2">Hobbies *</label>
				
				<div style="column-count: 3;
							column-gap: 20px;" id="par">
<div class="w100"> <input type="checkbox" id="hobby7" name="hobby" value="reading"> <label for="hobby7">Reading</label> </div> 
<div > <input type="checkbox" id="hobby8" name="hobby" value="sports"> <label for="hobby8">Sports</label> </div> 
<div > <input type="checkbox" id="hobby9" name="hobby" value="music"> <label for="hobby9">Music</label> </div> 
<div > <input type="checkbox" id="hobby10" name="hobby" value="traveling"> <label for="hobby10">Traveling</label> </div> 
<div > <input type="checkbox" id="hobby11" name="hobby" value="photography"> <label for="hobby11">Photography</label> </div> 
<div > <input type="checkbox" id="hobby12" name="hobby" value="gardening"> <label for="hobby12">Gardening</label> </div> 
<div > <input type="checkbox" id="hobby13" name="hobby" value="crafts"> <label for="hobby13">Crafts</label> </div> 
<div > <input type="checkbox" id="hobby14" name="hobby" value="cooking"> <label for="hobby14">Cooking</label> </div>
<div > <input type="checkbox" id="hobby15" name="hobby" value="painting"> <label for="hobby15">Painting</label> </div> 
<div > <input type="checkbox" id="hobby16" name="hobby" value="dancing"> <label for="hobby16">Dancing</label> </div> 
<div > <input type="checkbox" id="hobby17" name="hobby" value="acting"> <label for="hobby17">Acting</label> </div> 
<div > <input type="checkbox" id="hobby18" name="hobby" value="fishing"> <label for="hobby18">Fishing</label> </div> 
<div > <input type="checkbox" id="hobby19" name="hobby" value="hunting"> <label for="hobby19">Hunting</label> </div> 
<div > <input type="checkbox" id="hobby20" name="hobby" value="collecting"> <label for="hobby20">Collecting</label> </div> 
<div > <input type="checkbox" id="hobby21" name="hobby" value="gaming"> <label for="hobby21">Gaming</label> </div> 
<div > <input type="checkbox" id="hobby22" name="hobby" value="board-games"> <label for="hobby22">Board Games</label> </div> 
<div > <input type="checkbox" id="hobby23" name="hobby" value="flea-markets"> <label for="hobby23">Flea Markets</label> </div> 
<div > <input type="checkbox" id="hobby24" name="hobby" value="graphic-design"> <label for="hobby24">Graphic Design</label> </div> 
<div > <input type="checkbox" id="hobby25" name="hobby" value="video-games"> <label for="hobby25">Video Games</label> </div> 
<div > <input type="checkbox" id="hobby26" name="hobby" value="learning"> <label for="hobby26">Learning</label> </div> 
<div > <input type="checkbox" id="hobby27" name="hobby" value="nature"> <label for="hobby27">Nature Exploration</label> </div> 
<div > <input type="checkbox" id="hobby28" name="hobby" value="art-painting"> <label for="hobby28">Art Painting</label> </div> 
<div > <input type="checkbox" id="hobby29" name="hobby" value="stand-up-comedy"> <label for="hobby29">Stand-up Comedy</label> </div> 
<div > <input type="checkbox" id="hobby30" name="hobby" value="journalism"> <label for="hobby30">Journalism</label> </div> 
<div > <input type="checkbox" id="hobby31" name="hobby" value="baking"> <label for="hobby31">Baking</label> </div> 
<div > <input type="checkbox" id="hobby32" name="hobby" value="meditation"> <label for="hobby32">Meditation</label> </div> 
<div > <input type="checkbox" id="hobby33" name="hobby" value="yoga"> <label for="hobby33">Yoga</label> </div> 
<div > <input type="checkbox" id="hobby34" name="hobby" value="drumming"> <label for="hobby34">Drumming</label> </div> 
<div > <input type="checkbox" id="hobby35" name="hobby" value="language-learning"> <label for="hobby35">Language Learning</label> </div> 
<div > <input type="checkbox" id="hobby36" name="hobby" value="flower-growing"> <label for="hobby36">Flower Growing</label> </div>
<!--
<div class="w100"> <input type="checkbox" id="hobby7" name="hobby" value="lukeminen"> <label for="hobby7">Lukeminen</label> </div> 
<div > <input type="checkbox" id="hobby8" name="hobby" value="urheilu"> <label for="hobby8">Urheilu</label> </div> 
<div > <input type="checkbox" id="hobby9" name="hobby" value="musiikki"> <label for="hobby9">Musiikki</label> </div> 
<div > <input type="checkbox" id="hobby10" name="hobby" value="matkustaminen"> <label for="hobby10">Matkustaminen</label> </div> 
<div > <input type="checkbox" id="hobby11" name="hobby" value="valokuvaus"> <label for="hobby11">Valokuvaus</label> </div> 
<div > <input type="checkbox" id="hobby12" name="hobby" value="puutarhanhoito"> <label for="hobby12">Puutarhanhoito</label> </div> 
<div > <input type="checkbox" id="hobby13" name="hobby" value="käsityöt"> <label for="hobby13">Käsityöt</label> </div> 
<div > <input type="checkbox" id="hobby14" name="hobby" value="ruoanlaitto"> <label for="hobby14">Ruoanlaitto</label> </div>
<div > <input type="checkbox" id="hobby15" name="hobby" value="maalaaminen"> <label for="hobby15">Maalaaminen</label> </div> 
<div > <input type="checkbox" id="hobby16" name="hobby" value="tanssiminen"> <label for="hobby16">Tanssiminen</label> </div> 
<div > <input type="checkbox" id="hobby17" name="hobby" value="näytteleminen"> <label for="hobby17">Näytteleminen</label> </div> 
<div > <input type="checkbox" id="hobby18" name="hobby" value="kalastus"> <label for="hobby18">Kalastus</label> </div> 
<div > <input type="checkbox" id="hobby19" name="hobby" value="metsästys"> <label for="hobby19">Metsästys</label> </div> 
<div > <input type="checkbox" id="hobby20" name="hobby" value="keräily"> <label for="hobby20">Keräily</label> </div> 
<div > <input type="checkbox" id="hobby21" name="hobby" value="peli"> <label for="hobby21">Peli</label> </div> 
<div > <input type="checkbox" id="hobby22" name="hobby" value="pöytäpelit"> <label for="hobby22">Pöytäpelit</label> </div> 
<div > <input type="checkbox" id="hobby23" name="hobby" value="kirpputorit"> <label for="hobby23">Kirpputorit</label> </div> 
<div > <input type="checkbox" id="hobby24" name="hobby" value="graafinen-suunnittelu"> <label for="hobby24">Graafinen suunnittelu</label> </div> 
<div > <input type="checkbox" id="hobby25" name="hobby" value="videopelit"> <label for="hobby25">Videopelit</label> </div> 
<div > <input type="checkbox" id="hobby26" name="hobby" value="opiskelu"> <label for="hobby26">Opiskelu</label> </div> 
<div > <input type="checkbox" id="hobby27" name="hobby" value="luonnossa-oleskelu"> <label for="hobby27">Luonnossa oleskelu</label> </div> 
<div > <input type="checkbox" id="hobby28" name="hobby" value="taidemaalaus"> <label for="hobby28">Taidemaalaus</label> </div> 
<div > <input type="checkbox" id="hobby29" name="hobby" value="stand-up"> <label for="hobby29">Stand up</label> </div> 
<div > <input type="checkbox" id="hobby30" name="hobby" value="journalismi"> <label for="hobby30">Journalismi</label> </div> 
<div > <input type="checkbox" id="hobby31" name="hobby" value="leipominen"> <label for="hobby31">Leipominen</label> </div> 
<div > <input type="checkbox" id="hobby32" name="hobby" value="meditointi"> <label for="hobby32">Meditointi</label> </div> 
<div > <input type="checkbox" id="hobby33" name="hobby" value="jooga"> <label for="hobby33">Jooga</label> </div> 
<div > <input type="checkbox" id="hobby34" name="hobby" value="rumpujen-soittaminen"> <label for="hobby34">Rumpujen soittaminen</label> </div> 
<div > <input type="checkbox" id="hobby35" name="hobby" value="kielten-opiskelu"> <label for="hobby35">Kielten opiskelu</label> </div> 
<div > <input type="checkbox" id="hobby36" name="hobby" value="kukkien-kasvattaminen"> <label for="hobby36">Kukkien kasvattaminen</label> </div>
-->

				</div>
				
			</div>
		</div>
<!--		-->
		
		<div class="parent_2">
			<div class="parent_1">
					<label class="label_2">Tell us more about yourself</label>
				
				<textarea style="width:100%;height: 100px;resize: none;" id="about_you"></textarea>
				
			</div>
		</div>
		
<!--		-->
		<label class="label_1">Two of your photos</label>
<!--		-->
		<div class="parent_2">
			<div class="parent_1">
				
				<input type="file" name="file1" id="fileInput1" />
      			<input type="file" name="file2" id="fileInput2" />
				
			</div>
		</div>
<!--		-->
		<label class="label_1">About Your Friend</label>
<!--		-->
		<div class="parent_2">
			<div class="parent_1">
				
					<label class="label_2">Gender *</label>
				
				<div>
					<input type="radio" id="gender_friend1" name="gender_friend" value="boy" checked/>
					<label for="gender_friend1">Boy</label>
					<input type="radio" id="gender_friend2" name="gender_friend" value="girl" />
					<label for="gender_friend2">Girl</label>
					<input type="radio" id="gender_friend3" name="gender_friend" value="other" />
					<label for="gender_friend3">Other</label>
				</div>
				
			</div>
		</div>
<!--		-->
		<div class="parent_2">
			<div class="parent_1">
				
				<label class="label_2">Age from*</label>
				
				<input type="number" id="friend_age_from" name="friend_age" value="17" min="10" max="50" required>
								
			</div>
			<div class="parent_1">
				
				<label class="label_2">Age to*</label>
				
				<input type="number" id="friend_age_to" name="friend_age" value="19" min="11" max="99" required>
			</div>
		</div>
		
<!--		-->
		<label class="label_1">Last Question</label>
<!--		-->
		<div class="parent_2">
			<div class="parent_1">
				
				<label class="label_2">Email Address *</label>
				
				<input type="text" id="email" value="email@gmail.com" placeholder="Enter your email address" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" required>
				
			</div>			
			
			<div class="parent_1">
				
				<label class="label_2">Password *</label>
				
				<input type="text" id="password" value="Strongp4ssword"
pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,20}$"
				placeholder="Enter password" required>
			</div>
		</div>

		<div style="width:100%; margin: 10px 0px"> <input type="checkbox" id="terms" name="terms" required> <label for="terms">I agree to the terms and conditions.</label></div> 
		
		<div><p id="p_error" style="color:red;"></p></div>
		
		<div class="embed-submit-field">
			<button type="button" id="submitbutton" onclick="submitForm()">Send</button>
		</div>
	</div>

</body>
</html>