<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Simple Task Manager</title>
	
	<link href="{{ url_for('static', path='/simple_task_manager.css') }}" rel="stylesheet">
	<link rel="stylesheet" href="../static/simple_task_manager.css" />
	<link rel="stylesheet" href="simple_task_manager.css" />
	
	<script type="text/javascript" src="{{ url_for('static', path='simple_task_manager.js') }}"></script>
		
	<link href="https://unpkg.com/css.gg@2.0.0/icons/css/pen.css" rel="stylesheet">
</head>
<body>
	<div class="header">
		<h1 class="head_h1">Simple Task Manager</h1>

		<form class="add_form" id="add_form">
			<div class="head_div_1">
				<input type="text" id="title" placeholder="Title" required>
				<textarea type="text" id="description" placeholder="Description" required></textarea>
			</div>
			<div class="head_div_2">
				<select id="status"><option value="Todo">Todo</option><option value="In progress">In Progress</option><option value="done">Done</option>
				</select>
				<input type="date" id="due-date" required>
			</div>
			
			<input type="submit" value="Add Task" class="button button_gre">
		</form>

		<div id="search_container">
			<input type="text" id="search_input" placeholder="Search by title, description, or status">
			<div class="search_buttons">
				<button class="button button_blu" onclick="searchTasks_div()">Search</button>
				<button class="button button_blu" onclick="resetSearch_div()">Reset</button>
			</div>
		</div>
 	</div>


	<div class="content sortable" id="content">	</div>
	
	<button class="button button_test" onClick="create_test_tasks(this)">Test</button>
	
<!--	<p style="width: 100%; text-align: center; margin: 0 auto; bottom: 0; color: grey;">Made by Ilia Chebanik</p>-->
	
	<div style="width: 100%; display: flex; justify-content: center; bottom: 0; color:gray;"><p>Made by Ilia Chebanik</p></div>

	<script src="simple_task_manager.js"></script>
	<script
		src="https://code.jquery.com/jquery-3.6.3.js"
		integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
		crossorigin="anonymous">
	</script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
if (window.jQuery) {
    var vJq = jQuery.fn.jquery;
    console.log(vJq);
}

$(document).ready(function() {
    $('.sortable').sortable({
        containment: 'parent',
        cursor: 'grabbing',
        opacity: 0.8,
        update: function(event, ui) {
            var oldIndex = ui.item.data('oldIndex');
            var newIndex = ui.item.index();
            console.log('Old Index:', oldIndex);
            console.log('New Index:', newIndex);
			[originalTasks_content[oldIndex], originalTasks_content[newIndex]] = [originalTasks_content[newIndex], originalTasks_content[oldIndex]];
			localStorage.setItem('data', JSON.stringify(originalTasks_content));
        },
        start: function(event, ui) {
            ui.item.data('oldIndex', ui.item.index());
        }
    });
});

document.getElementById('add_form').addEventListener('submit', function(event) {
	event.preventDefault();
	let title = document.getElementById('title').value;
	let description = document.getElementById('description').value;
	let status = document.getElementById('status').value;
	let dueDate = document.getElementById('due-date').value;

	// Create task object
	let task = {
	title: title,
	description: description,
	status: status,
	dueDate: dueDate
	};

	// Call function to add task to table 
	addTaskToTable_div(task);

	// Reset form fields
	document.getElementById('title').value = '';
	document.getElementById('description').value = '';
	document.getElementById('status').value = 'Todo';
	document.getElementById('due-date').value = '';
});
	</script>
</body>
</html>