@charset "utf-8";
/* CSS Document */
body{background-color: #fedea5;} 
.centered-image {
	margin-top: 1%;
    margin-left: 35vw;
	margin-bottom: 0;
	text-align: center;
}
.centered-image img {
	max-width: 100%;
	max-height: 100%;
}
.parent { 
  display: flex;
  flex-wrap:wrap;            
	margin: 0 0 0 25%;
	padding: 0;
	align-items: center;
	justify-content: center;
/*	text-align: center;*/
  width: 50%;
  height: 100%;
  color: #FB631E;
  font-size: 24px;
}
.child {
	margin: 0% 4%;
/*  width: 50%;*/
/*  height: 40%;*/
}

.send-button{
	text-align: center;
	
}

/*label {width:30%;}*/
input {
/*  width:100%;*/
	
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.16);
  font-family: 'Comic Sans MS';
  font-size: 21px;
}


label {
  display:block;
  margin-bottom:4px;
  position: relative; 
  padding-left:30px;  
  font-family: 'Comic Sans MS';
  font-size: 21px;
/*  cursor: pointer;*/
}
label input[type=radio] {
  position: absolute; 
  opactiy: 0;
  width:0; 
  height:0;
}
label span {
  position: absolute;
  top:0;
  left:0;
  width:20px; 
  height:20px;
  background-color: #dddddd;
  border-radius: 50%;
  transition: .9s background-color;
}
label span:after {
  content: "";
  position: absolute;
  display: none;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color:#fff;
  width:8px;
  height:8px;
  border-radius:50%;
}
label:hover span {
  background-color: #ccc;
}

label input:checked ~ span {
  background-color: #2eaadc;
}
label input:checked ~ span:after {
  display:block;
}
